/*#home{
	border: 2px ridge;
	border-radius: 25px;
	background-image: url(image/sblu.gif);
}*/

body {
	background-image: url(image/paginaIniziale.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.center{
	text-align: center;
}

.welcome {
	padding: 350px 15px 180px 90px;
	font-family: serif;
	font-size: 30px;
	text-align: center;
	margin-left: 27%;
	margin-right: 25%;
	
}

.login{
	paddin-right: 24%;
	
}

#down {
	padding-top: 20px;	
}

#submit {
	margin-top: 10px;
	height: 25px;
	background: none;
	border: solid 1px;
	border-radius: 10px;
	color: #190502;
	background-color: #111c71;
}
#submit:hover {
	background-color: #5e4ad5;
}
.welcome label, a {
	font-weight: bold;
	font-family: sans-serif;
}

.email {
	border-radius: 29px;
	height: 25px;
}
	.pass {
	border-radius: 29px;
	height: 25px;
}

#p {
	padding-top: 10px;
}

#reg {
	
	padding-top: 0,5%;
	padding-left: 16%;
	position: absolute;
	
}

#reg a {
	text-decoration: none;
	color: #09165d;
}
